<app-header page="guests"></app-header>

<div id="fh5co-guests">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animated fadeIn">
                <h2>Bridesmaids &amp; Groomsmen</h2>
                <p>These are the favorite members of our teams</p>
            </div>
        </div>
        <div class="team-title animated fadeIn">
            <h4>Team Bride</h4>
        </div>
        <div class="flex-container animated fadeIn">
            <div class="imgs img-1-best" style="background-image: url(assets/img/mock/groom.jpg);">
                <div class="infos info-1">
                    <h3>Katie Maulucci</h3>
                    <!-- <p>description<br><a href="https://unsplash.com/@daryan" target="_blank">background by Daryan Shamkhali</a></p> -->
                </div>
            </div>
            <div class="imgs img-1" style="background-image: url(assets/img/guests/lisa_robbins.jpeg);">
                <div class="infos info-1">
                    <h3>Lisa Robbins</h3>
                </div>
            </div>
            <div class="imgs img-1" style="background-image: url(assets/img/mock/groom.jpg);">
                <div class="infos info-1">
                    <h3>Emily Esrig</h3>
                </div>
            </div>
            <div class="imgs img-1" style="background-image: url(assets/img/mock/groom.jpg);">
                <div class="infos info-1">
                    <h3>Isla Vera</h3>
                </div>
            </div>
        </div>
        <div class="flex-container animated fadeIn">
            <div class="imgs img-1" style="background-image: url(assets/img/guests/chelsea_kirkendall.jpeg);">
                <div class="infos info-1">
                    <h3>Chelsea Kirkendall</h3>
                </div>
            </div>
            <div class="imgs img-1" style="background-image: url(assets/img/mock/groom.jpg);">
                <div class="infos info-1">
                    <h3>Richie Arradaza</h3>
                </div>
            </div>
            <div class="imgs img-1" style="background-image: url(assets/img/guests/jilessa_cook.jpeg);">
                <div class="infos info-1">
                    <h3>Jillesa Cook</h3>
                </div>
            </div>
            <div class="imgs img-1" style="background-image: url(assets/img/guests/jess_oliver.jpeg);">
                <div class="infos info-1">
                    <h3>Jess Oliver</h3>
                </div>
            </div>
        </div>
        <hr>
        <div class="team-title animated fadeIn">
            <h4>Team Groom</h4>
        </div>
        <div class="flex-container animated fadeIn">
            <div class="imgs img-1-best" style="background-image: url(assets/img/mock/groom.jpg);">
                <div class="infos info-1">
                    <h3>Ion Avila</h3>
                </div>
            </div>
            <div class="imgs img-1" style="background-image: url(assets/img/mock/groom.jpg);">
                <div class="infos info-1">
                    <h3>Helia Uriz</h3>
                </div>
            </div>
            <div class="imgs img-1" style="background-image: url(assets/img/mock/groom.jpg);">
                <div class="infos info-1">
                    <h3>Natalie Duarte</h3>
                </div>
            </div>
            <div class="imgs img-1" style="background-image: url(assets/img/mock/groom.jpg);">
                <div class="infos info-1">
                    <h3>Maddy Baim</h3>
                </div>
            </div>
        </div>
    </div>
</div>