<app-header page="our-story"></app-header>

<div id="fh5co-couple-story">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animated fadeIn">
                <span>We Love Each Other</span>
                <h2>Our Story</h2>
                <p>&quot;When you least expect it, someone appears to enlighten your life.&quot;</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-md-offset-0">
                <ul class="timeline animated fadeIn">
                    <li class="animated fadeIn">
                        <div class="timeline-badge" style="background-image:url(assets/img/ourstory1.jpg);"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">First We Meet</h3>
                                <span class="date">July 29, 2018</span>
                            </div>
                            <div class="timeline-body">
                                <p>They say that another wedding comes out of a wedding... well that's exactly what has happened to us! We met at our friends' wedding and our adventure began there...</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted animated fadeIn">
                        <div class="timeline-badge" style="background-image:url(assets/img/ourstory2.jpg);"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">First Trip to California</h3>
                                <span class="date">September 8, 2018</span>
                            </div>
                            <div class="timeline-body">
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                            </div>
                        </div>
                    </li>
                    <li class="animated fadeIn">
                        <div class="timeline-badge" style="background-image:url(assets/img/ourstory3.jpg);"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">Lakers game!</h3>
                                <span class="date">Jan 15, 2019</span>
                            </div>
                            <div class="timeline-body">
                                <p>One of our dreams was fulfilled! Seeing the Lakers playing at the Staples Center was one of the things we will remember most together. Sharing it made us stronger as a couple...</p>
                            </div>
                        </div>
                    </li>
                    <li class=" timeline-inverted animated fadeIn">
                        <div class="timeline-badge" style="background-image:url(assets/img/ourstory4.jpg);"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">Our passion: the beach</h3>
                                <span class="date">March 25, 2019</span>
                            </div>
                            <div class="timeline-body">
                                <p>From the beginning, our life goal has been to live near the beach. While this is not possible, we will visit whenever we can! There is less left to be fulfilled!</p>
                            </div>
                        </div>
                    </li>
                    <li class="animated fadeIn">
                        <div class="timeline-badge" style="background-image:url(assets/img/ourstory5.jpg);"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">She said YES!</h3>
                                <span class="date">May 27, 2019</span>
                            </div>
                            <div class="timeline-body">
                                <p>Where could a proposal be better than the rooftop of the Waldorf Astoria hotel in Las Vegas? She said yes!</p>
                            </div>
                        </div>
                    </li>
                    <li class=" timeline-inverted animated fadeIn">
                        <div class="timeline-badge" style="background-image:url(assets/img/ourstory6.jpg);"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">Travel to Spain</h3>
                                <span class="date">September 5, 2019</span>
                            </div>
                            <div class="timeline-body">
                                <p>It was Ashley's chance to travel to know the city and surroundings of Xabier. She and her parents traveled to Spain, met Pamplona, the boyfriend's mother and took the opportunity to go sightseeing in Barcelona and Madrid...</p>
                            </div>
                        </div>
                    </li>
                    <li class="animated fadeIn">
                        <div class="timeline-badge" style="background-image:url(assets/img/ourstory7.jpg);"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">Finally Together</h3>
                                <span class="date">Forever...</span>
                            </div>
                            <div class="timeline-body">
                                <p>And here we are... Ready to start the next adventure together! And looking forward to celebrating with you all next September...</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>