<nav class="fh5co-nav" role="navigation">
    <div class="container">
        <div class="row">
            <div class="col-xs-2">
                <div id="fh5co-logo">
                    <a class="navbar-brand" routerLink="/home">
                        <img src="assets/img/A&X-Logo.png" width="150" alt="Ashley & Xabier logo">
                    </a>
                </div>
            </div>
            <div class="col-xs-10 text-right menu-1">
                <ul>
                    <li routerLinkActive="active">
                        <a routerLink="/home">Home</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/our-story">Our Story</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/wedding">Wedding</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/guests">Guests</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/contact">Contact</a>
                    </li>
                    <!-- <li class="has-dropdown">
                        <a href="services.html">Services</a>
                        <ul class="dropdown">
                            <li><a href="#">Web Design</a></li>
                            <li><a href="#">eCommerce</a></li>
                            <li><a href="#">Branding</a></li>
                            <li><a href="#">API</a></li>
                        </ul>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
</nav>